.background {
    background-image: url(bg.svg);
    height: 100%;
}

.bg-section {
    position: relative;
    overflow: hidden;
    z-index: 1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    /* height: 100%; */
}

.bg-overlay:before {
    content: "";
    display: inline-block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

body, html {
    height: 100%;
    width: 100%;
}

.gray-tint:before {
    background-color: #222222;
    opacity: 0.9;
}

.preview {
    height: 300px;
    transition: transform .2s;
    border-radius: 5px;
}

.preview:hover {
    transform: scale(1.3);
}

.fadeIn {
    animation: in 2s;
}

@keyframes in{
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}
